.button {
  border-radius: 5px;
  color: aliceblue;
  padding: 10px;
  cursor: pointer;
  background-color: #4545be;
  margin: 10px 0px;
}

.button[type="cancel"] {
  background-color: aliceblue;
  color: black;
}

.block-btn {
  display: block;
  width: 100%;
  background-color: #4545be;
  font-size: large;
}
.block-btn:hover {
  background-color: #6060bbcb;
  border-style: groove;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.edit-btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border-style: none;
}
.delete-btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border-style: none;
}
.modal-btn-cancel
{
  display: flex;
  border-radius: 5px;
  border-color: #9393c5cc;
  background-color: #9393c5cc;
  color: black;
  width: 90%;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.modal-btn-cancel:hover
{
  opacity: 0.8;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.36) 0px 3px 6px, rgba(0, 0, 0, 0.43) 0px 3px 6px;
}
.modal-btn
{
  display: flex;
  border-radius: 5px;
  border-color: #2020cbc6;
  background-color: #2020cbc6;
  color: aliceblue;
  width: 100%;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.modal-btn:hover
{
  opacity: 0.8;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.36) 0px 3px 6px, rgba(0, 0, 0, 0.43) 0px 3px 6px;
}

.delete-btn img:hover{

  /*background-color: rgba(240, 158, 36, 0.582);*/
  scale: 1.5;
  animation: transDel 2s;
}

.edit-btn img:hover{

  /*background-color: rgba(240, 158, 36, 0.582);*/
  scale: 1.5;
  animation: rotEdit 1s;
}

@keyframes rotEdit {
  0%{
    rotate: 20deg;
  }
  50%
  {
    rotate: -20deg;
  }
  80%
  {
    rotate: 10deg;
  }  
}
@keyframes transDel {
  0%{
    transform: translateY(-15%);
  }
  50%{
    transform: translateY(-5%);
  }

}