.card {
  background: linear-gradient(
    342deg,
    rgba(232, 231, 237, 0.432) 16%,
    rgba(69, 127, 179, 1) 48%,
    rgba(1, 30, 120, 1) 82%
  );
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }  
}

.fadeIn
{
  animation: fadeIn 3s ease-in;
}
