.admin-add-product {
  /* margin: 20px auto; */
  margin: 0px auto;
  display: flex;
  width: 50%;
  justify-content: center;
}

main {
  width: 100%;
  height: fit-content; 
  margin: 0px; 
  padding: 0px;
  
  background: rgb(14,14,69);
  background: linear-gradient(0deg, rgba(14,14,69,1) 17%, rgba(49,29,156,1) 40%, rgba(64,41,193,1) 58%, rgba(58,31,213,0.8909313725490196) 74%, rgba(200,196,223,0.2774859943977591) 91%);
  
}
footer{
  height: 100px;
  padding: 0px;
  background-color: black;
  margin: 0px;
}

.error
{
  color: tomato;
  display: flex;  
  background-color: bisque;
  text-align: center;
  justify-content: center;
  z-index: 1;
  align-items: center;

}
