main {
  width: 100%;
  min-height: 100%;
  height: fit-content;
  /* height: auto;  */
  margin: 0px; 
  margin-top: 80px;
  padding: 0px;
  display: flex;
  flex-wrap: 1;
  background: rgb(14,14,69);
  /* background: linear-gradient(0deg, rgba(14,14,69,1) 17%, rgba(49,29,156,1) 40%, rgba(64,41,193,1) 58%, rgba(58,31,213,0.8909313725490196) 74%, rgba(200,196,223,0.2774859943977591) 91%); */
  background: linear-gradient(187deg, rgba(232,231,237,1) 16%, rgba(69,127,179,1) 48%, rgba(1,30,120,1) 82%);
}
footer{

  height: 50px;
  padding: 0px;
  background-color: rgb(38, 37, 43);
  margin: 0px;
}

.error
{
  color: rgb(237, 61, 30);
  display: flex;  
  background-color: rgb(228, 217, 204);
  text-align: center;
  justify-content: center;
  z-index: 1;
  padding: 10px;
  border-radius: 4px;
  margin: 5px 0;
  align-items: center;
}
